@page
@model ACWebApp.Pages.Pacientes.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Elimiar paciente</h1>

<h3>¿Esta seguro que desea eliminar al paciente?</h3>
<div>
    <h4>Paciente</h4>
    <hr />
    <dl class="row">
        @*<dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Paciente.PropietarioId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Paciente.PropietarioId)
        </dd>*@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Paciente.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Paciente.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Paciente.Color)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Paciente.Color)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Paciente.SenasParticulares)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Paciente.SenasParticulares)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Paciente.Zona)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Paciente.Zona)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Paciente.Chip)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Paciente.Chip)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Paciente.NumeroChip)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Paciente.NumeroChip)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Paciente.FechaNacimiento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Paciente.FechaNacimiento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Paciente.FechaDefuncion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Paciente.FechaDefuncion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Paciente.MotivoDefuncion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Paciente.MotivoDefuncion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Paciente.Observacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Paciente.Observacion)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Paciente.Id" />
        <input type="submit" value="Eliminar" class="btn btn-success" />
        <a class="btn btn-success" asp-page="./Index">Cancelar</a>
    </form>
</div>
