@page
@model ACWebApp.Pages.Pacientes.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h3 class="center-align indigo-text text-darken-2">Pacientes</h3>

<br />

<div>
    <a asp-page="../Index"
       class="btn-floating btn waves-effect waves-light white-text blue darken-2 left-align">
        <i class="material-icons">arrow_back</i>
    </a>

    <a asp-page="Add"
       class="btn-floating waves-effect waves-light white-text blue darken-2 right-align">
        <i class="material-icons">add</i>
    </a>
</div>

<br />

<form method="post">
    <table class="responsive-table striped">
        <thead>
            <tr class="light white-text card-panel indigo darken-2 card-content">
                <th class="center">Nombre</th>
                <th class="center">Color</th>
                <th class="center">Señas Particulares</th>
                <th class="center">Zona</th>
                <th class="center">Chip</th>
                <th class="center">Nombre Propietario</th>
                <th class="center">Editar</th>
                <th class="center">Eliminar</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.Pacientes)
            {
                <tr>
                    <td class="center">@item.Nombre</td>
                    <td class="center">@item.Color</td>
                    <td class="center">@item.SenasParticulares</td>
                    <td class="center">@item.Zona</td>
                    <td class="center">@item.Chip</td>
                    <td class="center">
                        @foreach (var p in @item.PropietarioPacientes)
                        {
                            <span>@p.Propietario.PrimerNombre @p.Propietario.PrimerApellido</span>
                        }
                    </td>

                    <td class="center">
                        <a asp-route-id="@item.Id"
                           asp-page="Edit"
                           class="btn-floating btn waves-effect waves-light white-text blue darken-2">
                            <i class="material-icons">edit</i>
                        </a>
                    </td>


                    <td class="center">
                        <button type="submit"
                                asp-page-handler="delete"
                                asp-route-id="@item.Id"
                                class="btn-floating btn waves-effect waves-light white-text blue darken-2">
                            <i class="material-icons">delete_forever</i>
                            >
                        </button>
                    </td>


                </tr>
            }
        </tbody>
    </table>
</form>
