@page
@model ACWebApp.Pages.Pacientes.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

    <div class="text-center text-success">
        <h2>Pacientes</h2>
    </div>

<br />

<div>
    <a asp-page="/Propietarios/Index"
       class="btn btn-success">
        <i class="fas fa-undo-alt"></i>
        Regresar
    </a>
</div>

<br />

<form method="post">
    <table class="table table-stripped table-hover table-responsive">
        <thead class="table-dark">
            <tr class="table-black">
                <th>Nombre</th>
                <th>Color</th>
                <th>Señas Particulares</th>
                <th>Zona</th>
                <th>Chip</th>
                <th>Nombre Propietario</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.Pacientes)
            {
            <tr>
                <td>@item.Nombre</td>
                <td>@item.Color</td>
                <td>@item.SenasParticulares</td>
                <td>@item.Zona</td>
                <td>@item.Chip</td>
                <td>
                    @foreach (var p in @item.PropietarioPacientes)
                    {
                        <span>@p.Propietario.PrimerNombre @p.Propietario.PrimerApellido</span>
                    }
                </td>

                <td>
                    <a asp-route-id="@item.Id"
                       asp-page="Edit"
                       class="btn btn-outline-success">
                        <i class="fas fa-edit"></i>
                    </a>
                </td>


                <td>
                    <a 
                            asp-route-id="@item.Id"
                            asp-page="Delete"
                            class="btn btn-outline-success btn-circle">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </td>

                <td>
                    <a asp-route-id="@item.Id"
                       asp-page="Details"
                       class="btn btn-outline-success">
                        <i class="fas fa-info-circle"></i>
                    </a>
                </td>

                <td>
                    <a asp-route-propietarioid="@item.Id"
                       asp-page="../Propietarios/Create"
                       class="btn btn-success">
                        <i class="fas fa-plus-circle"></i>
                        Propietario
                    </a>
                </td>


            </tr>
            }
        </tbody>
    </table>
</form>
