@page
@model ACWebApp.Pages.Owners.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="text-center text-success">
    <h2>Más información del Propietario</h2>
</div>

<hr />

<h4 class="text-success">@Html.DisplayFor(model => model.Owner.Name) @Html.DisplayFor(model => model.Owner.LastName)</h4>

<div>
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Owner.Name)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Owner.Name)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Owner.LastName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Owner.LastName)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Owner.IdentificationType)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Owner.IdentificationType)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Owner.Identification)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Owner.Identification)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Owner.City)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Owner.City)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Owner.Address)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Owner.Address)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Owner.Phone)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Owner.Phone)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Owner.MovilPhone)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Owner.MovilPhone)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Owner.Email)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Owner.Email)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Owner.Obsevation)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Owner.Obsevation)
        </dd>
    </dl>
</div>

<div>
    <a class="btn btn-success" asp-page="./Edit" asp-route-id="@Model.Owner.Id"><i class="fas fa-edit"></i> Editar</a>
    <a class="btn btn-success" asp-page="./Index"><i class="fas fa-undo-alt"></i> Propietarios</a>
    <a class="btn btn-success" asp-page="../Pacientes/Index"><i class="fas fa-undo-alt"></i> Pacientes</a>
</div>
