@page
@model ACWebApp.Pages.Patients.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="text-center text-success">
    <h2>Más información del Paciente</h2>
</div>

<hr />

<h4 class="text-success">@Html.DisplayFor(model => model.Patient.Name)</h4>

<div>
    <dl class="row">
        @*<dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Patient.PropietarioId)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Patient.PropietarioId)
            </dd>*@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.Color)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.Color)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.ParticularSigns)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.ParticularSigns)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.Zone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.Zone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.Chip)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.Chip)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.ChipNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.ChipNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.BirthDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.BirthDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.DeathDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.DeathDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.ReasonDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.ReasonDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.Observation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.Observation)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-success" asp-page="./Edit" asp-route-id="@Model.Patient.Id"><i class="fas fa-edit"></i> Editar</a>
    <a class="btn btn-success" asp-page="../Owners/Index"><i class="fas fa-undo-alt"></i> Propietarios</a>
    <a class="btn btn-success" asp-page="./Index"><i class="fas fa-undo-alt"></i> Pacientes</a>
</div>