@page
@model ACWebApp.Pages.Propietarios.IndexModel
@addTagHelper`*, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="text-center text-success">
    <h2>Pripietaios</h2>
</div>


<br />

<div>
    <a asp-page="/Dashboard/Index"
       class="btn btn-success">
        <i class="fas fa-undo-alt"></i>
        Regresar
    </a>

    <a asp-page="Create"
       class="btn btn-success">
        <i class="fas fa-plus-circle"></i>
        Propietario
    </a>
</div>

<br />

<form method="post">
    <table class="table table-stripped table-hover table-responsive">
        <thead class="table-dark">
            <tr class="table-black">
                <th>Nombre</th>
                <th>Dumento</th>
                <th>Número</th>
                <th>Ciudad</th>
                <th>Celular</th>
                <th>Paciente</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.Propietarios)
            {
                <tr>
                    <td>@item.PrimerNombre @item.PrimerApellido</td>
                    <td>@item.TipoIdentificacion</td>
                    <td>@item.Identificacion</td>
                    <td>@item.Ciudad</td>
                    <td>@item.Celular1</td>
                    <td>
                        @foreach (var p in @item.PropietarioPacientes)
                        {
                            <a class="btn btn-link" asp-route-pacienteid="@item.Id" asp-page="../Pacientes/Details">@p.Paciente.Nombre</a>//Pendiente revisar
                        }
                    </td>

                    <td>
                        <a asp-route-id="@item.Id"
                           asp-page="Edit"
                           class="btn btn-outline-success">
                            <i class="fas fa-edit"></i>
                        </a>
                    </td>


                    <td>
                        <button type="submit"
                                asp-page-handler="delete"
                                asp-route-id="@item.Id"
                                class="btn btn-outline-success btn-circle">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </td>

                    <td>
                        <a asp-route-id="@item.Id"
                           asp-page="Details"
                           class="btn btn-outline-success">
                            <i class="fas fa-info-circle"></i>
                        </a>
                    </td>

                    <td>
                        <a asp-route-propietarioid="@item.Id"
                           asp-page="../Pacientes/Create"
                           class="btn btn-success">
                            <i class="fas fa-plus-circle"></i>
                            Paciente
                        </a>
                    </td>

                </tr>
            }
        </tbody>
    </table>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
