@page
@model ACWebApp.Pages.Propietarios.IndexModel
@addTagHelper`*, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="">
    <h3>Pripietaios</h3>
</div>


<br />

<div>
    <a asp-page="/Dashboard/Index"
       class="btn btn-success">
        <i class="fas fa-plus-circle"></i>
        Regresar
    </a>

    <a asp-page="Create"
       class="btn btn-success">
        Crear
    </a>
</div>

<br />

<form method="post">
    <table class="table table-stripped table-hover table-responsive">
        <thead class="table-dark">
            <tr class="table-black">
                <th class="center">Nombre</th>
                <th class="center">Dumento</th>
                <th class="center">Documento</th>
                <th class="center">Ciudad</th>
                <th class="center">Celular</th>
                <th class="center">Paciente</th>
                <th class="center"></th>
                <th class="center"></th>
                <th class="center"></th>
                <th class="center"></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.Propietarios)
            {
            <tr>
                <td class="center">@item.PrimerNombre @item.PrimerApellido</td>
                <td class="center">@item.TipoIdentificacion</td>
                <td class="center">@item.Identificacion</td>
                <td class="center">@item.Ciudad</td>
                <td class="center">@item.Celular1</td>
                <td class="center">
                    @foreach (var p in @item.PropietarioPacientes)
                    {
                        <span>@p.Paciente.Nombre</span>
                    }
                </td>

                <td class="center">
                    <a asp-route-id="@item.Id"
                       asp-page="Edit"
                       class="btn btn-success">
                        Editar
                    </a>
                </td>


                <td class="center">
                    <button type="submit"
                            asp-page-handler="delete"
                            asp-route-id="@item.Id"
                            class="btn btn-success">
                        Eliminar
                    </button>
                </td>

                <td class="center">
                    <a asp-route-id="@item.Id"
                       asp-page="Details"
                       class="btn btn-success">
                        Detalles
                    </a>
                </td>

                <td class="center">
                    <a asp-route-propietarioid="@item.Id"
                       asp-page="../Pacientes/Create"
                       class="btn btn-success">
                       paciente
                    </a>
                </td>

            </tr>
            }
        </tbody>
    </table>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
