@page
@model ACWebApp.Pages.Pacientes.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="text-center text-success">
    <h2>Más información del pacientee</h2>
</div>

<hr />

<h4 class="text-success">@Html.DisplayFor(model => model.Paciente.Nombre)</h4>

<div>
    <dl class="row">
        @*<dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Paciente.PropietarioId)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Paciente.PropietarioId)
            </dd>*@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Paciente.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Paciente.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Paciente.Color)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Paciente.Color)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Paciente.SenasParticulares)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Paciente.SenasParticulares)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Paciente.Zona)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Paciente.Zona)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Paciente.Chip)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Paciente.Chip)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Paciente.NumeroChip)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Paciente.NumeroChip)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Paciente.FechaNacimiento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Paciente.FechaNacimiento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Paciente.FechaDefuncion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Paciente.FechaDefuncion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Paciente.MotivoDefuncion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Paciente.MotivoDefuncion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Paciente.Observacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Paciente.Observacion)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-success" asp-page="./Edit" asp-route-id="@Model.Paciente.Id"><i class="fas fa-edit"></i> Editar</a>
    <a class="btn btn-success" asp-page="../Propietarios/Index"><i class="fas fa-undo-alt"></i> Propietarios</a>
    <a class="btn btn-success" asp-page="./Index"><i class="fas fa-undo-alt"></i> Pacientes</a>
</div>